@import url(http://fonts.googleapis.com/css?family=Megrim);
@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(http://fonts.googleapis.com/css?family=Lato:400);
@import url(http://fonts.googleapis.com/css?family=Lato:700);
@import url(http://fonts.googleapis.com/css?family=Lato:900);




body {
    padding-top: 25px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Lato', sans-serif;
}

.wrapper{
}

a{
	color: inherit;
}
.textshadow {
	text-shadow: 0px 0px 15px #BFF6F6;
}
.boxshadow {
	box-shadow: 0px 0px 15px #BFF6F6;
}
a:hover{
  text-shadow:0px 0px 0px transparent;
  box-shadow:0px 0px 0px transparent;
}

li a:hover{
  color: #9016b2;

}

.header{
  background: url(http://derousseur.github.io/img/header.png);
  opacity: 0.95;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-bottom-style: none;
  box-shadow: 0px 2px 7px #888888;
}

.logo{
    font-family: 'Megrim', cursive;
    color: #9016b2;
    font-size:75px;
}

.logomini{
    font-family: 'Megrim', cursive;
    color: #9016b2;
    font-weight: bold;
}

.buttonlink{
  margin-top: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  padding: 25px;
  border-color: #BFF6F6;
  border-width: 5px;
  border-style: solid;
  background: transparent;
  color: #9016b2;
  width: 394px;
  box-shadow: 0px 0px 20px #BFF6F6;
}
button .buttonlink hover{
  background: white;
}

.boldtext{
  font-weight: 700;
}

.mediumtext{
  font-weight: 400;
}

.titles{
  font-family: 'Megrim', cursive;
  clear:both;
  padding-bottom: 36px;
  color: #9016b2;
}

.longtext{
  font-size:16px;
}

.abouttext{
  padding-top:10px;
  font-size:16px;
}

.smalltext{
  font-size:14px;
  line-height: 12px;
  font-weight: 400;
}
.extrasmalltext{
  font-size:12px;
  line-height: 12px;
  font-weight: 400;
  padding-top: 5px;
}
.howtoimg{
  max-width: 512px;
  max-height: 512px;
 
}
.icons{
  max-height: 50px;
}

.rowy{
  padding-left:0px;
}

.sections{
  padding: 40px 0px 50px 0px;
  border-top-style: solid;
  border-width: 1px;
  border-color: #9016b2;
}

.topsection{
  padding: 50px 32px;
}

.input{
  width: 200px;
  border-style: solid;
  border-width: 1px;
  border-color: #9016b2;
  padding-left: 5px;
}

.padimg{
  padding-top: 15px;
}
.padtxt{
  padding: 0px;
  margin: 20px 5px;
}
.marrow{
	margin: 0px;
}

.gradientborder{
 
	  margin: 0 auto;
	  border: 1px solid transparent;
	  

	  -moz-border-image: -moz-linear-gradient(left, #DCBCF5 20%, #C6D3FF 40%, #C1EAFF 60%, #B4F4FF 80%, #E5FBD3 100%);
	  -webkit-border-image: -webkit-linear-gradient(left, #DCBCF5 20%, #C6D3FF 40%, #C1EAFF 60%, #B4F4FF 80%, #E5FBD3 100%);
	  border-image: linear-gradient(135deg, #DCBCF5 20%, #C6D3FF 40%, #C1EAFF 60%, #B4F4FF 80%, #E5FBD3 100%);

	  border-image-slice: 1; 
	  
	
}

.smallcircle {
	background-color: #ffffff;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	top:50%;
	left:50%;
	margin-left:-28px; /*half width*/
	margin-top:-28px;
	position:relative;
	margin: 0 auto;
	}

.smallcircle:before{
	content:'';
	position:absolute;
	z-index:-1;
	border-radius: 50%;
	width: 68px;
	height: 68px;
	left:-2px;
	top:-2px;
	image-align:center;
	
	background: -moz-linear-gradient(left, #DCBCF5 20%, #C6D3FF 40%, #C1EAFF 60%, #B4F4FF 80%, #E5FBD3 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(20%,#DCBCF5), color-stop(40%,#C6D3FF), color-stop(60%,#C1EAFF), color-stop(80%,#B4F4FF), color-stop(100%,#E5FBD3));
	background: -webkit-linear-gradient(left, #DCBCF5 20%, #C6D3FF 40%, #C1EAFF 60%, #B4F4FF 80%, #E5FBD3 100%);
	background: -o-linear-gradient(135deg, #DCBCF5 20%, #C6D3FF 40%, #C1EAFF 60%, #B4F4FF 80%, #E5FBD3 100%);
	background: -ms-linear-gradient(135deg, #DCBCF5 20%, #C6D3FF 40%, #C1EAFF 60%, #B4F4FF 80%, #E5FBD3 100%);
	background: linear-gradient(135deg, #DCBCF5 20%, #C6D3FF 40%, #C1EAFF 60%, #B4F4FF 80%, #E5FBD3 100%);
	

}

.circlealignment{
	float:left;
	
}
.worktagtext {
	text-align: center;
	color: #DCBCF5;
	font-weight: 300;
	font-size: 20px;
	padding-top: 12px;
}
.vertical-center{
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}


.projecttitle{
	color:black;
	font-size: 18px;
	font-weight: 700;
	text-align: left;
}

.bubbletext {
	color: #9B9B9B;
	font-size:11px;
    line-height: 11px;
    font-weight: 400;
    text-align: center;
    padding-top: 15px;
}
.bubbletext2 {
	color: #9B9B9B;
	font-size:11px;
    line-height: 11px;
    font-weight: 400;
    text-align: center;
    padding-top: 18px;
}

.arrow_box {
	position: relative;
	background: transparent;
}
.arrow_box:after {
	left: 90%;
	top: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(209, 209, 209, 0);
	border-left-color: #e2e2e2;
	border-width: 20px;
	margin-top: -30px;
}
.arrow_box2 {
	position: relative;
	background: transparent;
}
.arrow_box2:after {
	left: 90%;
	top: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(209, 209, 209, 0);
	border-left-color: #f7f7f7;
	border-width: 20px;
	margin-top: -30px;
}

.backdiv1{
	background-color: #f7f7f7;
}
.backdiv2{
	background-color: #e2e2e2;
}



@media (max-width: 760px) {
  .howtoimg{
    max-width: 200px;
    padding-left: -30px;
  }
  .lead{
	  font-size: 16px;
  }
.padcol{
  padding: 0
  px;
  border-color: #9016b2;
  border-top: 1px;
}
.padtxt{
  padding: 0px;
}

.smallcircle {
	background-color: #ffffff;
	width: 54px;
	height: 54px;
	border-radius: 50%;
	top:50%;
	left:50%;
	margin-left:-26px; /*half width*/
	margin-top:-26px;
	position:relative;
	margin: 0 auto;
	}

.smallcircle:before{
	content:'';
	position:absolute;
	z-index:-1;
	border-radius: 50%;
	width: 58px;
	height: 58px;
	left:-2px;
	top:-2px;
	image-align:center;
	
	background: -moz-linear-gradient(left, #DCBCF5 20%, #C6D3FF 40%, #C1EAFF 60%, #B4F4FF 80%, #E5FBD3 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(20%,#DCBCF5), color-stop(40%,#C6D3FF), color-stop(60%,#C1EAFF), color-stop(80%,#B4F4FF), color-stop(100%,#E5FBD3));
	background: -webkit-linear-gradient(left, #DCBCF5 20%, #C6D3FF 40%, #C1EAFF 60%, #B4F4FF 80%, #E5FBD3 100%);
	background: -o-linear-gradient(135deg, #DCBCF5 20%, #C6D3FF 40%, #C1EAFF 60%, #B4F4FF 80%, #E5FBD3 100%);
	background: -ms-linear-gradient(135deg, #DCBCF5 20%, #C6D3FF 40%, #C1EAFF 60%, #B4F4FF 80%, #E5FBD3 100%);
	background: linear-gradient(135deg, #DCBCF5 20%, #C6D3FF 40%, #C1EAFF 60%, #B4F4FF 80%, #E5FBD3 100%);
	

}
.circlealignment{
	float:left;
	
}
.bubbletext {
	color: #9B9B9B;
	font-size:9px;
    line-height: 10px;
    font-weight: 400;
    text-align: center;
    padding-top: 12px;
}
.bubbletext2 {
	color: #9B9B9B;
	font-size:9px;
    line-height: 10px;
    font-weight: 400;
    text-align: center;
    padding-top: 17px;
}
  }
