@import url(http://fonts.googleapis.com/css?family=Crete+Round);
@import url(http://fonts.googleapis.com/css?family=Lato:300);

body {
    padding-top: 25px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Lato', sans-serif;
}

.wrapper{
}

.header{
  background: rgba(255,255,255,0.8);
  border-bottom-style: none;
  box-shadow: 0px 2px 7px #888888;
}

.logo{
    font-family: 'Crete Round', cursive;
    color: #871010;
    font-size:75px;
}

.logomini{
    font-family: 'Crete Round', cursive;
    color: #871010;
}

.register{
  border-color: #871010;
  background: #871010;
  color: white;
  width: 200px;
  box-shadow: 0px 3px 3px #888888;
}
.register hover{
  background: white;
}


.titles{
  clear:both;
  padding-bottom: 40px;
  color: #871010;
}

.longtext{
  font-size:16px;
}

.abouttext{
  padding-top:10px;
  font-size:16px;
}

.smalltext{
  font=size:12px;
}

.howtoimg{
  max-height: 200px;
}

.videointro{
  bottom:0;
}

.backvideo{
  position: absolute;
}


.sections{
  padding: 50px 25px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #871010;
}

.topsection{
  padding: 50px 25px;
  border-bottom-style: none;
}

@media (max-width: 768px) {
  .howtoimg{
    max-height: 150px;
  }

  }
