body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

#toprow {
  height: 400px;
}

.sections{
  padding: 80px 0px;
}
